<header class="transparent">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="logo"><a href="#"><img src="../../../../assets/images/logo/freerise-logo.jpg" alt="logo"></a></div>
      </div>
      <div class="col-md-7">
        <ul class="menu pt-3">
          <li><a href="#">Как работи</a></li>
          <li><a href="#">Публикувай обява</a></li>
          <li><a href="#">Намери разработчик</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="menu button-header">
          <a routerLink="register" class="custom-btn login" style="cursor:pointer;">Регистрация</a>
          <a routerLink="login" class="custom-btn">Вход</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-block">
    <div class="logo-mobile"><a href="#"><img src="../../../../assets/images/logo/freerise-logo.jpg" alt="logo"></a></div>
    <a href="#" class="mobile-menu-btn"><span></span></a>
    <div class="mobile-menu">
      <div class="inside">
        <div class="logo">
          <a href="#"><img src="../../../../assets/images/logo/freerise-logo.jpg" alt="logo"></a>
        </div>
        <ul class="menu panel-group" id="accordion" aria-multiselectable="true">
          <li><a href="#">Как работи</a></li>
          <li><a href="#">Публикувай обява</a></li>
          <li><a href="#">Намери разработчик</a></li>
        </ul>
        <div class="button-header">
          <a routerLink="login" class="custom-btn login">Вход</a>
          <a routerLink="register" class="custom-btn">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
</header>
