<div class="container">
 <h1 style="text-align:center;">Вход</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-login"> 
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" [formGroup]="form" (ngSubmit)="login()" role="form" style="display: block;">
                <div class="form-group">
                    <input type="text" formControlName="username" [(ngModel)]="model.username" tabindex="1" class="form-control" placeholder="Потребителско Име" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" [(ngModel)]="model.password" tabindex="2" class="form-control" placeholder="Парола">
                  </div>
                  <div class="form-group text-center">
                    <input type="checkbox" tabindex="3" class="" name="remember" >
                    <label for="remember">Запомни ме</label>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit"  tabindex="4" class="form-control btn btn-login" value="ВХОД">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="#" tabindex="5" class="forgot-password">Забравена Парола?</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>