<div class="container"></div>
<div class="row m-5">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center"><img src="../../../../assets/images/users/profile-placeholder.png" class="img-circle"
            width="150" />
          <h4 class="card-title m-3">Минчо Минчев</h4>
          <h6 class="card-subtitle">Front-end Developer</h6>
          <!--<div class="row text-center justify-content-md-center">-->
          <!--<div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>-->
          <!--<div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>-->
          <!--</div>-->
        </div>
      </div>
      <div>
        <hr>
      </div>
      <div class="card-body">
        <small class="text-muted">Имейл</small>
        <h6>mini@gmail.com</h6>
        <small class="text-muted p-t-30 db">Телефон</small>
        <h6>+91 654 784 547</h6>
        <small class="text-muted p-t-30 db">Проекти</small>
        <h6>1</h6>
        <br />
        <button class="btn btn-circle btn-secondary social-icons"><i class="fa fa-linkedin"></i></button>
        <button class="btn btn-circle btn-secondary social-icons"><i class="fa fa-github"></i></button>
        <button class="btn btn-circle btn-secondary social-icons"><i class="fa fa-facebook"></i></button>
        <button class="btn btn-circle btn-secondary social-icons"><i class="fa fa-instagram"></i></button>

      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home" role="tab">ПРОЕКТИ</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile" role="tab">ПРОФИЛ</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings" role="tab">НАСТРОЙКИ</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">
          <div class="card-body">
            <div class="profiletimeline">
              <div class="sl-item">
                <div class="sl-left"><img src="assets/images/users/1.jpg" alt="user" class="img-circle" /></div>
                <div class="sl-right">
                  <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                    <p>assign a new task <a href="#"> Design weblayout</a></p>
                    <div class="row">
                      <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img1.jpg" class="img-responsive radius" /></div>
                      <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img2.jpg" class="img-responsive radius" /></div>
                      <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img3.jpg" class="img-responsive radius" /></div>
                      <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img4.jpg" class="img-responsive radius" /></div>
                    </div>
                    <div class="like-comm"><a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)"
                        class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="sl-item">
                <div class="sl-left"><img src="assets/images/users/2.jpg" alt="user" class="img-circle" /></div>
                <div class="sl-right">
                  <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                    <div class="m-t-20 row">
                      <div class="col-md-3 col-xs-12"><img src="assets/images/big/img1.jpg" alt="user" class="img-responsive radius" /></div>
                      <div class="col-md-9 col-xs-12">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
                          Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success"> Design weblayout</a>
                      </div>
                    </div>
                    <div class="like-comm m-t-20"><a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a
                        href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="sl-item">
                <div class="sl-left"><img src="assets/images/users/3.jpg" alt="user" class="img-circle" /></div>
                <div class="sl-right">
                  <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                    <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                      Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                      imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper </p>
                  </div>
                  <div class="like-comm m-t-20"><a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)"
                      class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a>
                  </div>
                </div>
              </div>
              <hr>
              <div class="sl-item">
                <div class="sl-left"><img src="assets/images/users/4.jpg" alt="user" class="img-circle" /></div>
                <div class="sl-right">
                  <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                    <blockquote class="m-t-10">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--second tab-->
        <div class="tab-pane" id="profile" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-xs-6 b-r"><strong>Име</strong>
                <br>
                <p class="text-muted">Минчо Минчев</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"><strong>Телефон</strong>
                <br>
                <p class="text-muted">(123) 456 7890</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"><strong>Имейл</strong>
                <br>
                <p class="text-muted">mini@admin.com</p>
              </div>
              <div class="col-md-3 col-xs-6"><strong>Локация</strong>
                <br>
                <p class="text-muted">София</p>
              </div>
            </div>
            <hr>
            <p>Минчо обича да прави сайтове на WordPress и е изкарал front-end модула в Softuni при топ лекторите Тони
              и
              Юли. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries </p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
              more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h4 class="font-medium m-t-30">Умения</h4>
            <hr>
            <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100" style="width:80%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>
            <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                style="width:90%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>
            <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                style="width:50%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>
            <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                aria-valuemax="100" style="width:70%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>

            <!--<div class="form-group">-->
            <!--<div class="force-to-the-bottom">-->
            <!--<tag-input formControlName="skills" [(ngModel)]="freeLancerModel.skills" class="tag" [placeholder]="'Технология'" [secondaryPlaceholder]="'Технологични умения'">-->
            <!--<tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="true"-->
            <!--[dynamicUpdate]="false">-->
            <!--</tag-input-dropdown>-->
            <!--</tag-input>-->
            <!--</div>-->
            <!--</div>-->


          </div>
        </div>
        <div class="tab-pane" id="settings" role="tabpanel">
          <div class="card-body">
            <form class="form-horizontal form-material">
              <!--Име-->
              <div class="row">
                <div class="col-6">
                  <h5 class="h5 my-3">Редактиране на обща информация
                  </h5>

                  <div class="form-group">
                    <label class="col-md-12 mb-2">Име</label>
                    <div class="col-md-12">
                      <input type="text" placeholder="Минчо" class="form-control form-control-line">
                    </div>
                  </div>
                  <!--Фамилия-->
                  <div class="form-group">
                    <label class="col-md-12 mb-2">Фамилия</label>
                    <div class="col-md-12">
                      <input type="text" placeholder="Минчев" class="form-control form-control-line">
                    </div>
                  </div>
                  <!--Телефонен номер-->
                  <div class="form-group">
                    <label class="col-md-12 mb-2">Телефонен номер</label>
                    <div class="col-md-12">
                      <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                    </div>
                  </div>
                  <!--Описание-->
                  <div class="form-group">
                    <label class="col-md-12 mb-2">Описание</label>
                    <div class="col-md-12">
                      <textarea rows="5" class="form-control form-control-line"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn profile-btn">Запиши промени</button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h5 class="h5 my-3">Редактиране на контакти</h5>

                  <div class="form-group">
                    <label class="col-md-12 mb-2">LINKEDIN ПРОФИЛ</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control form-control-line">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-12 mb-2">GITHUB ПРОФИЛ</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control form-control-line">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-12 mb-2">FACEBOOK ПРОФИЛ</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control form-control-line">
                    </div>
                  </div>

                  <!--<div class="form-group">-->
                  <!--<label class="col-md-12 mb-2">INSTAGRAM ПРОФИЛ</label>-->
                  <!--<div class="col-md-12">-->
                  <!--<input type="text" class="form-control form-control-line">-->
                  <!--</div>-->
                  <!--</div>-->

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn profile-btn secondary-btn" data-toggle="modal" data-target="#change-email-modal">
                        Промяна на имейл
                      </button>
                    </div>
                  </div>

                  <!-- Change Email Modal -->
                  <div class="modal fade" id="change-email-modal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2 class="modal-title" id="emailModalLabel">Смяна на имейл</h2>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()">

                          <div class="modal-body">
                            <div class="form-group">
                              <input formControlName="password" [(ngModel)]="changeEmailModel.password" class="form-control mr-5"
                                type="password" id="password" placeholder="Парола">
                            </div>

                            <div class="form-group">
                              <input formControlName="email" [(ngModel)]="changeEmailModel.email" class="form-control"
                                type="email" tabindex="5" placeholder="Имейл">
                              <div *ngIf="changeEmailControls.email.touched && changeEmailControls.email.dirty">
                                <div class="alert alert-danger" *ngIf="changeEmailControls.email.errors?.required">confirm
                                  Email is required</div>
                                <div class="alert alert-danger" *ngIf="changeEmailControls.email.errors?.mustMatch">Emails
                                  Must Match</div>
                                <div class="alert alert-danger" *ngIf="changeEmailControls.email.errors?.email">Email
                                  Is Wrong Pattern</div>
                              </div>

                            </div>

                            <div class="form-group">
                              <input formControlName="confirmEmail" [(ngModel)]="changeEmailModel.confirmEmail" class="form-control"
                                type="email" tabindex="5" placeholder="Потвърди имейла">
                              <div *ngIf="changeEmailControls.confirmEmail.touched && changeEmailControls.confirmEmail.dirty">
                                <div class="alert alert-danger" *ngIf="changeEmailControls.confirmEmail.errors?.required">confirm
                                  Email is required</div>
                                <div class="alert alert-danger" *ngIf="changeEmailControls.confirmEmail.errors?.email">Email
                                  Is Wrong Pattern
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                            <button type="submit" class="btn btn-primary">Запази</button>
                          </div>
                        </form>

                      </div>

                    </div>
                  </div>


                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn profile-btn secondary-btn" data-toggle="modal" data-target="#change-password-modal">Промяна
                        на парола
                      </button>
                    </div>
                  </div>

                  <!-- Change password Modal -->
                  <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2 class="modal-title" id="passwordModalLabel">Смяна на парола</h2>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          <div class="form-group">
                            <input class="form-control mr-5" type="password" id="old-password" placeholder="Стара парола">
                          </div>

                          <div class="form-group">
                            <input class="form-control mr-5" type="password" id="new-password" placeholder="Нова парола">
                          </div>

                          <div class="form-group">
                            <input class="form-control mr-5" type="password" id="repeat-password" placeholder="Потвърди новата парола">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                          <button type="button" class="btn btn-primary">Запази</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button class="btn profile-btn delete-profile-btn" data-toggle="modal" data-target="#delete-account-modal">Изтрий
                        моя профил</button>
                    </div>
                  </div>

                  <!-- Delete User Modal -->
                  <div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2 class="modal-title" id="deleteModalLabel">Изтриване на профил</h2>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="text-left delete-user-text">
                            Ако изтриете профила си, ще изгубите всички данни за обявите и проектите, които имате.
                            Повече няма да имате достъп до администрацията на вашите проекти.

                            Сигурни ли сте, че искате да изтриете профила си?
                          </p>

                          <div class="form-group">
                            <input class="form-control mr-5" type="password" placeholder="Парола">
                          </div>

                          <div class="form-group">
                            <input class="form-control mr-5" type="password" placeholder="Повтори парола">
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
                          <button type="button" class="btn btn-danger">Потвърждавам</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>