header.masthead {
  position: relative;

  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(91, 91, 91, 0.7)),
    url("../../../assets/images/bg-masthead.jpg");

  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.fab {
  font-size: 22px;
  color: white;
  padding-top: 10px;
}

.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}

#features .feature-block p {
  margin-bottom: 0;
}

#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}

#team .team-block img {
  width: 100%;
}

#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
  display: block;
  width: 100%;
}

#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #626262;
}

#team .team-block .team-content ul li a .fab {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block:hover .team-content {
  bottom: 0;
  transition: all 0.5s ease-in-out 0s;
}

#newsletter {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(91, 91, 91, 0.7)),
    url("../../../assets/images/news-letter.jpg");
  background-size: cover;
}

#newsletter .form-control {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 0;
  height: 50px;
  text-align: center;
  width: 70%;
  background: #fff;
}

@media (max-width: 575px) {
  #newsletter .form-control {
    margin-bottom: 30px;
    width: 100%;
  }
}

#newsletter .form-control:focus {
  border-color: #4178B6;
  box-shadow: none;
  outline: 0 none;
}

#newsletter .btn {
  background: #4178B6;
  color: white;
  border: 0;
  border-radius: 0;
  height: 50px;
  width: 30%;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #newsletter .btn {
    width: 100%;
  }
}

#newsletter .btn:hover {
  background: #4178B6;
}

#newsletter ul {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0;
}

#newsletter ul li {
  background: #4178B6;
  border-radius: 50px;
  float: left;
  height: 40px;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  transition: 0.3s;
}

#newsletter ul li:hover {
  background: #4178B6;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 3;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.find-freelancer-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-text {
  background: #4178B6;
  border-color: transparent !important;
}

.input-group-text .fab {
  padding-top: 0;
  font-size: 24px;
}

.bg-primary {
  background: #4178B6 !important;
  border-color: transparent !important;
}
