<div class="item">
  <img src="../../../assets/images/slider-light.svg">
  <div class="inside slider">
    <h2>ПОДОБРЕТЕ БИЗНЕСА СИ</h2>
    <p class="p-2 text-uppercase">Намерете начинаещи разработчици на свободна практика с които да работите</p>
    <a routerLink="register" class="custom-btn register">Регистрация</a>
  </div>
</div>
<div class="container">
  <div class="why-choose">
    <h2 class="title-head p-5">Защо да изберете нас?</h2>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="inside">
          <img src="../../../assets/images/optimised.svg" alt="optimised">
          <h5 class="h5 text-uppercase why-us-heading">Оптимизация</h5>
          <p>Нашата платформа е напълно оптимизирана за вашите нужди. Ние сме насреща за всякакви въпроси свързани с
            дейността на свободна практика и задаването на проекти.</p>
          <a href="#" class="read-more">Виж повече <img src="../../../assets/images/right.png" alt="right"></a>
        </div><!--inside-->
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="inside center">
          <img src="../../../assets/images/powerfull.svg" alt="powerfull">
          <h5 class="h5 text-uppercase why-us-heading">Разработчици</h5>
          <p>Какви са ползите за един начинаещ да работи безплатно върху реални проекти? Трупане на опит и портфолио, изграждане на умения за комуникация.</p>
          <a href="#" class="read-more">Виж повече <img src="../../../assets/images/right.png" alt="right"></a>
        </div><!--inside-->
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="inside">
          <img src="../../../assets/images/website.svg" alt="website">
          <h5 class="h5 text-uppercase why-us-heading">Клиенти</h5>
          <p>Какви са ползите за клиента ? Напълно безплатна изработка на краен продукт, разбиране кои и какви са основните процеси при задаването на един проект.</p>
          <a href="#" class="read-more">Виж повече <img src="../../../assets/images/right.png" alt="right"></a>
        </div><!--inside-->
      </div>
    </div>
  </div><!--why-choose-->
  <div class="hosting-software">
    <h2 class="title-head text-center">Платформа за проекти на свободна практика</h2>
    <ul id="counter">
      <li>50+<span>клиента</span></li>
      <li>100<span>разработчика</span></li>
      <li>200<span>активни проекта</span></li>
    </ul>
  </div>
</div>

<div class="pricing-table animatedParent">
  <div class="container">
    <h2 class="title-head text-center">Видове разработчици</h2>
    <p>Стотици начинаещи и професионални разработчици, които търсят работа по проекти</p>
    <ul class="pricing-list">
      <li class="animated bounceInLeft delay-250">
        <div class="images"><img src="../../../assets/images/server.svg" alt="server"></div>
        <h5>Уеб разработка</h5>
        <p>Начинаещи, ентусиазирани уеб разработчици, които търсят работа по реални проекти, на доброволни начала.</p>
        <span><b>Технологии</b></span>
        <div class="price">100<span>/обяви</span></div>
        <a href="#" class="custom-btn">Започни сега</a>
      </li>
      <li class="animated bounceInLeft delay-500">
        <div class="images"><img src="../../../assets/images/hosting.svg" alt="hosting"></div>
        <h5>Дизайн</h5>
        <p>Начинаещи, креативни дизайнери, които търсят работа по реални проекти, на доброволни начала.</p>
        <span><b>Креативност</b></span>
        <div class="price">130<span>/обяви</span></div>
        <a href="#" class="custom-btn">Започни сега</a>
      </li>
      <li class="animated bounceInLeft delay-750">
        <div class="images"><img src="../../../assets/images/hosting2.svg" alt="hosting2"></div>
        <h5>Маркетинг</h5>
        <p>Начинаещи маркетинг консултанти, които търсят работа по реални проекти, на доброволни начала.</p>

        <span><b>Популяризация</b></span>
        <div class="price">200<span>/обяви</span></div>
        <a href="#" class="custom-btn">Започни сега</a>
      </li>
      <li class="animated bounceInLeft delay-1000">
        <div class="images"><img src="../../../assets/images/vps.svg" alt="vpn"></div>
        <h5>Професионалисти</h5>
        <p>Платформа, за намиране на платени проекти и работа с професионалисти в сферата, базирана на опита ви досега
          .</p>
        <span><b>Професионализъм</b></span>
        <div class="price">50<span>/обяви</span></div>
        <a href="#" class="custom-btn">Започни сега</a>
      </li>
    </ul><!--pricing-list-->
    <div class="security animated bounceInRight delay-250">
      <img src="../../../assets/images/security-light.svg" alt="security-light">
      <div class="text">
        <h4>Бързи срокове</h4>
        <p>Всеки нов проект има срок за изпълнение, от което зависи и рейтинга в платформата на разработчика.</p>
      </div>
    </div><!--security-->
  </div>
</div>
<div class="container animatedParent">
  <div class="info-pricing animated growIn">
    <h4>Какви са плюсовете за един разработчик?</h4>
    <ul>
      <li>
        <h6>Опит</h6>
        <p>Трупането на професионален опит и работа с реални проекти е задължително препядствие пред което всеки един начинаещ разработчик трябва да се изправи.</p>
      </li>
      <li class="right">
        <h6>Портфолио</h6>
        <p>Изграждането на професионално портфолио е задължително за започването на работа със свободна практика.</p>
      </li>
    </ul>
    <ul class="right">
      <li>
        <h6>Доброволчество</h6>
        <p>Няма по-голямо удовлетворение от това да се помага на инициативи, организации и хора на доброволни начала.</p>
      </li>
      <li class="button right">
        <a href="#" class="custom-btn">Започни сега</a>
      </li>
    </ul>
  </div>
</div>
