header.masthead {
  position: relative;

  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(91, 91, 91, 0.7)),
    url("../../../assets/images/bg-masthead.jpg");

  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*margin-top: 5rem;*/
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.fab {
  font-size: 22px;
  color: white;
  padding-top: 10px;
}

.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}

#features .feature-block p {
  margin-bottom: 0;
}

#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}

#team .team-block img {
  width: 100%;
}

#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -163px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
  display: block;
  width: 100%;
}

#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #626262;
}

#team .team-block .team-content ul li a .fab {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block:hover .team-content {
  bottom: 0;
  transition: all 0.5s ease-in-out 0s;
}

#newsletter {
  background:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(91, 91, 91, 0.9)),
    url("../../../assets/images/news-letter.jpg");
  background-size: cover;
}

#newsletter .form-control {
  height: 50px;
  text-align: center;
  width: 70%;
  background: #fff;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control input::-webkit-input-placeholder  {
  font-size: 2rem;

}

@media (max-width: 575px) {
  #newsletter .form-control {
    margin-bottom: 30px;
    width: 100%;
  }
}

#newsletter .form-control:focus {
  border-color: #3C92CA;
  box-shadow: none;
  outline: 0 none;
}

#newsletter .btn {
  background: #3C92CA;
  color: white;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  height: 50px;
  width: 30%;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #newsletter .btn {
    width: 100%;
  }
}

#newsletter .btn:hover {
  background: #4178B6;
}

/*#newsletter ul {*/
  /*display: inline-block;*/
  /*margin-top: 40px;*/
  /*margin-bottom: 0;*/
/*}*/

/*#newsletter ul li {*/
  /*background: #3C92CA;*/
  /*border-radius: 50px;*/
  /*float: left;*/
  /*height: 40px;*/
  /*line-height: 35px;*/
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  /*width: 40px;*/
  /*transition: 0.3s;*/
/*}*/

/*#newsletter ul li:hover {*/
  /*background: #3C92CA;*/
/*}*/

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 3;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.find-freelancer-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-text {
  background: #3C92CA;
  border-color: transparent !important;
}

.input-group-text .fab {
  padding-top: 0;
  font-size: 24px;
}

.bg-primary {
  background: #3C92CA !important;
  border-color: transparent !important;
}


/* ---------- SOCIAL ---------- */

.social {
  position: relative;
  height: 3em;
  width: 13.5em;
  margin: 0 auto;
  margin-top: 8%;

}

.social li {
  display: block;
  height: 4em;
  line-height: 4em;
  margin: -2.2em;
  position: absolute;
  -webkit-transition: -webkit-transform .7s;
  -moz-transition: -moz-transform .7s;
  -ms-transition: -ms-transform .7s;
  -o-transition: -o-transform .7s;
  transition: transform .7s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  width: 4em;
}

.social a {
  color: #fffdf0;
  display: block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 4em;
}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
  -moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
  -o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.facebook {
  background: #4178B6;
  left: 0;
  top: 0%;
}

.twitter {
  background: #1a9ec4;
  bottom: 0;
  left: 25%;
}

.dribbble {
  background: #d05f8f;
  left: 50%;
  top: 0;
}

.behance {
  background: #3C92CA;
  bottom: 0;
  left: 75%;
}

.linked-in {
  background: #157f9d;
  left: 100%;
  top: 0%;
}
