<footer>
  <div class="container">
    <div class="widget-footer">
      <h4>Навигация</h4>
      <ul>
        <li><a href="#">Начало</a></li>
        <li><a href="#">Регистрация</a></li>
        <li><a href="#">Вход</a></li>
        <li><a href="#">Публикувай обява</a></li>
      </ul>
    </div><!--widget-footer-->
    <div class="widget-footer">
      <h4>Компания</h4>
      <ul>
        <li><a href="#">За нас</a></li>
        <li><a href="#">Как работи</a></li>
        <li><a href="#">Политика за поверителност</a></li>
        <li><a routerLink="contact-us">Контакти</a></li>
      </ul>
    </div><!--widget-footer-->
    <div class="widget-footer">
      <h4>Ресурси</h4>
      <ul>
        <li><a href="#">Намери разработчик</a></li>
        <li><a href="#">Разгледай обяви</a></li>
      </ul>
    </div><!--widget-footer-->
    <div class="widget-footer">
      <h4>Свържете се с нас</h4>
      <ul>
        <li><a href="#">+359 876 227 005</a></li>
        <li><a href="#">info@freerise.bg</a></li>
      </ul>
    </div>
    <div class="widget-footer last">
      <a href="#"><img src="../../../../assets/images/logo/logo-footer.png" alt="logo"></a>
      <p>Платформа за доброволна работа по проекти на свободни начала.</p>
      <ul class="social-icon">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div><!--widget-footer-->
    <div class="copyright">
      <p>&copy; Copyright 2018 FreeRise, All Rights Reserved</p>
    </div><!--copyright-->
  </div>
</footer>
