
<div class="container bg-white">
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand d-none d-lg-inline-block font-weight-bold text-gray" href="#">
        <img src="../../../../assets/images/logo/freerise-logo.jpg" class="img-fluid w-50" alt="logo">
      </a>
      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
        <img src="../../../../assets/images/logo/freerise-logo.jpg" alt="logo">
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">

        <!--<li class="nav-item">-->
          <!--<a routerLink="" class="nav-link m-2 menu-item nav-active text-gray text-uppercase">Начало</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a routerLink="register" class="nav-link m-2 menu-item text-gray text-uppercase">Регистрация</a>
        </li>

        <li class="nav-item">
          <a routerLink="login" class="nav-link m-2 menu-item text-gray text-uppercase">Вход</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link m-2 menu-item text-gray text-uppercase">Контакти</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

