/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.text-gray {
  color: #666;
}

.btn-primary {
  background: #4178B6 !important;
  border-color: transparent !important;

}

.text-primary {
  color: #4475B8 !important;
}

.btn-primary:hover {
  border-color: transparent !important;
}

.bg-primary {
  background: #4178B6 !important;
  border-color: transparent !important;
}
